html, body {
    
    font-family: Lucida Sans ;
    background-image: url(./image/mars.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    

    text-align: left;
    text-shadow: 2px 2px 5px; 

    
}
.field{
    font-size: large;
    float:left;
}


  
.container {
    width: 1000px;
    height: 125px;
    margin: auto;
    margin-right: 50px;
  }
 
  .board{  
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
  }


.button{

    background-color: rgb(255, 237, 159);
   
    border:2px,solid, black;
    color: black;
    padding: 14px 40px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
.button:hover{
    background-color: #ffea71; 
    color: black;
}


canvas {
    display: block; 
}


